.bar-graph-layout {
    margin: 20px;
}
.bar-graph {
    display: flex;
    list-style: none;
    align-items: flex-end;
    border: 1px solid black;
    border-top: none;
    border-right: none;
    padding: 0;
  }
.item {
    width: 100px;
    background-color: #8cacea;
    margin: 8px;
    text-align: center;
}